$color-primary: #0000ff;
$color-primary-light: #6161f7;
$color-primary-dark: #06067c;

$color-secondary: orange;

$color-grey: #5e5d5d;
$color-grey-light-1: #e5e2e2;
$color-grey-light-2: #d6cfcf;

$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px
$bp-small: 37.5em; // 600px